<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="index::header"></head>
<body>
<div class="wrapper">

    <nav class="navbar navbar-inverse" th:include="index::main-navbar"></nav>
    <div class="side-menu" th:include="index::main-side-menu"></div>
    <div class="col-sm-offset-2 center-block">
        <div class="container white-center scrl">
            <div class="row height-row">
                <div class="col-md-12">
                    <h1>Календарь</h1>
                </div>
                <div class="col-md-12">
                    <table class="table_blur" th:object="${dates}">
                        <tr th:each="event : ${events}">
                            <th th:text="${#dates.format(event.getKey(), 'dd-MM-yyyy')}"></th>
                            <td th:each="ev : ${event.getValue()}" th:text="${ev.description}"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 header footer" th:include="index::main-footer"></div>
</div><!-- wrapper close -->
<div th:include="index::script-libs"></div>
</body>
</html>