<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="index::header">
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-inverse" th:include="index::main-navbar"></nav>
    <div class="side-menu" th:include="index::main-side-menu"></div>
    <div class="col-sm-offset-2 center-block">
        <div class="container white-center heidt heidt2">
            <div class="blue-block" th:include="profile/profile::profile-navbar"></div>
            <div class="row" style="height: 82vh;">
                <div class="col-md-12"><h1>Дополнительные баллы</h1></div>
                    <h4 class="klop">В данном разделе Вы можете увидеть свои дополнительные баллы.
                        Они предоставляются за прохождение испытаний и различных заданий на логику, смекалку и прочие.
                        Ваша задача отвечать как можно честно и правильно, чем больше Ваших ответов мы получим,
                        тем больше Вам предоставят дополнительные баллы.</h4>
                        <h2 style="font-style: italic" class="klop"> Зачем нужны дополнительные баллы? </h2>
                           <h4 class="klop"> Дополнительные баллы дадут Вам возможность при поступлении в наш университет:
                <ul>
                    <li>Получить консультацию со специалистом по предметной области</li>
                    <li>Выбрать желаемого преподавателя по предмету (если есть такая возможность)</li>
                    <li>Составлять расписание на свое усмотрение, Ваши пожелания будут учтены в первую очередь</li>
                    <li>При неуспешной сдаче экзамена и дополнительной сессии возможность попытаться сдать еще раз</li>
                </ul>
                           </h4>
                <h4 class="klop">Ваша задача попытаться заработать как можно больше баллов. За день Вы можете пройти
                    только одно испытание (оно может состоять из нескольких заданий, а может и из одного), за отказ
                    от выполнения задания Вам не будут начислены баллы. В некоторых заданиях Вам потребуется загрузить
                    файл, поэтому мы настоятельно рекомендуем проходить испытания с компьютера. Также на решение Вам
                    может быть предоставлено некоторое время, так как мгновенно пройти Вам вряд ли удастся. Мы рекомендуем
                    уделить некоторое время, около часа, на прохождение, для того чтобы без спешки и четко Вы смогли ответить
                    на вопросы и получить максимальный балл за задания.
                </h4>
                <h2 style="font-style: italic" class="klop"> Количество начисленных баллов отображается в Вашем профиле </h2>
                <h4 class="klop">Иногда Вам будут начислены баллы не сразу, так как в некоторых испытания невозможно мгновенно
                    проверить Ваш ответ. Дождитесь, в течение 1-2 рабочих дней Вашу работу обязательно проверят и начислят баллы.
                </h4>
            </div>
        </div>
    </div>
    <!--<div class="col-md-12 header footer" th:include="index::main-footer"></div>-->
</div>
<div th:include="index::script-libs"></div>
</body>
</html>